{% extends './base.html' %}
{% block title %}Grado{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sadmin.css') }}" />
{% endblock %}
{% block body %}
<div class="popup-container" id="formato">
  <div class="popup-content">
    <form action="/grados" method="post" id="tuFormularioGr" class="formA">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <i class="fa-solid fa-x" id="close" style="color: #1ab192"></i>
      <div class="form-group">
        <label for="exampleInputUsername1">Grado</label>
        <input
          type="text"
          class="form-control"
          name="txtnombre"
          id="Grado"
          placeholder="Grado"
          required=""
        />
      </div>
      <button class="w-100 btn-lg btn-color" id="submitBtn" type="submit">Agregar</button>
    </form>
  </div>
</div>

<div class="popup-container" id="formatoE">
  <div class="popup-content">
    <form action="/gradoEdit" method="post" id="tuFormularioGrEdit" class="formA">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="id" value="" id="idG"/>
      <i class="fa-solid fa-x" id="closed" style="color: #1ab192"></i>
      <div class="form-group">
        <label for="exampleInputUsername1">Actualizar Grado</label>
        <input
          type="text"
          class="form-control"
          name="newtxtnombre"
          id="NewGrado"
          placeholder="Actualizar Grado"
          value=""
          required=""
        />
      </div>
      <button class="w-100 btn-lg btn-color" id="submitBtn" type="submit">Actualizar</button>
    </form>
  </div>
</div>

<nav class="sb-topnav navbar navbar-expand navbar-dark">
  <a class="navbar-brand" href="{{ url_for('home_admin') }}"><h1 class="logotipo">UTTN</h1></a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
  <ul class="navbar-nav ml-auto ml-md-0" style="position: absolute; right: 0.5cm">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#"><b>{{ current_user.fullname }}</b></a>
        <a class="dropdown-item" href="#"><b>{{ current_user.user_type }}</b></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </li>
  </ul>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <a class="nav-link" href="{{ url_for('home_sadmin') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-house"></i>
            </div>
            Inicio
          </a>
          <a class="nav-link" href="{{ url_for('admins') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-regular fa-user"></i>
            </div>
            Administradores
          </a>
          <a class="nav-link" href="{{ url_for('carreras') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-user-tie"></i>
            </div>
            Carreras
          </a>
          <a class="nav-link" href="{{ url_for('especialidades') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-book-open-reader"></i>
            </div>
            Especialidades
          </a>
          <a class="nav-link" href="{{ url_for('edificios') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-building"></i>
            </div>
            Edificios
          </a>
          <a class="nav-link" href="{{ url_for('grado') }}">
            <div class="sb-nav-link-icon">
              <i class="fa-sharp fa-solid fa-user-graduate"></i>
            </div>
            Grado
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <div class="filter-sh">
      <div class="icons">
        <i class="fa-solid fa-plus" id="create"></i>
      </div>
      <div>
        <div class="search-container">
          <input type="text" id="searchInput" placeholder="Buscar" oninput="searchMain()">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>        
      </div>
    </div>

    <main id="areas-container" class="mainContent">
      {% for grados in grado %}
      <div class="cards">
        <div class="face front">
            <img src="{{ grados[2] }}" alt="" />
          <div class="info">
            <h2 class="h2">{{ grados[1] }}</h2>
          </div>
        </div>
        <div class="face back">
          <div style="text-align: center;"><h2 style="color: #1ab192;">Informacion</h2></div>
          <div class="entornos" id="targetOne">
    
          </div>
          <div class="desarrollo" id="targetThree">
            <button class="action-button updateGr" data-grados-id="{{ grados[0] }}" data-grados-nombre="{{ grados[1] }}">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="delete-grados-btns action-button" data-grados-id="{{ grados[0] }}" data-grados-nombre="{{ grados[1] }}">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}

    </main>      

  </div>    

</div>  <footer class="Myfooter">
        <p>© <span id="year"></span> Universidad Tecnologica de Tamaulipas Norte.</p>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
